body {
  background: linear-gradient(
      rgba(255, 182, 193, 0.8),
      rgba(255, 182, 193, 0.8)
    ),
    url("fundo.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 30px;
  border-radius: 15px;
  width: 80%;
  max-width: 600px;
  margin: 80px auto;
  text-align: center;
  box-shadow: 0 5px 20px rgba(240, 141, 141, 0.5);
}

h1 {
  color: #ff4d6d; /* rosa forte */
}

.mensagem {
  font-size: 20px;
  color: #eb8fc8;
}

.assinatura {
  margin-top: 20px;
  color: #eb8dde;
}

#heart-btn {
  background-color: #ff4d6d;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 30px;
  transition: background-color 0.3s ease;
}

#heart-btn:hover {
  background-color: #e8435f;
  transform: scale(1.05);
}

.heart {
  position: fixed;
  bottom: 30px;
  font-size: 24px;
  animation: rise 2s forwards;
  pointer-events: none;
  user-select: none;
  z-index: 9999;
}

@keyframes rise {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-150px) scale(1.5);
  }
}